In [6]:
# 练习使用pandas
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.rand(10,5))
df.describe()

               0          1          2          3          4
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.574186   0.504357   0.697489   0.453001   0.653429
std     0.301781   0.273214   0.240231   0.313850   0.229006
min     0.133494   0.070521   0.416506   0.051953   0.204529
25%     0.320908   0.303235   0.493876   0.159750   0.582209
50%     0.587962   0.462380   0.692162   0.496750   0.684800
75%     0.844352   0.762564   0.925321   0.722983   0.819921
max     0.919780   0.890350   0.972789   0.838975   0.966133

In [11]:
# 查询每个独特数据出现的次数
s = pd.Series([1,2,3,3,4,np.nan,5,5,5,6,7])
s.value_counts(dropna=False)
s.describe()

count    10.000000
mean      4.100000
std       1.852926
min       1.000000
25%       3.000000
50%       4.500000
75%       5.000000
max       7.000000
dtype: float64

In [16]:
# df[col] # 以数组 Series 的形式返回选取的列
df = pd.DataFrame(np.random.rand(5,5),columns=list('ABCDE'))
df['C']
#错误的用法 df[2]

NameError: name 'col' is not defined

In [38]:
# df[[col1, col2]] # 以新的数据框(DataFrame)的形式返回选取的列
df = pd.DataFrame(np.random.rand(5, 5),columns=list('ABCDE'))
df

          A         B         C         D         E
0  0.435718  0.346629  0.088816  0.319145  0.986322
1  0.375037  0.577159  0.107748  0.501116  0.527897
2  0.182873  0.617030  0.768727  0.051593  0.315805
3  0.486538  0.354812  0.348753  0.596293  0.628877
4  0.116547  0.074341  0.011731  0.284153  0.219026

In [39]:
df.loc[2] # 行

A    0.182873
B    0.617030
C    0.768727
D    0.051593
E    0.315805
Name: 2, dtype: float64

In [40]:
df.iloc[2] #行

A    0.182873
B    0.617030
C    0.768727
D    0.051593
E    0.315805
Name: 2, dtype: float64

In [44]:
df.iloc[1:3, 1:3]

          B         C
1  0.577159  0.107748
2  0.617030  0.768727

In [45]:
df.mean()

A    0.319343
B    0.393994
C    0.265155
D    0.350460
E    0.535585
dtype: float64

In [47]:
df = pd.DataFrame(np.random.rand(10,5),columns=list('ABCDE'))
df

          A         B         C         D         E
0  0.998603  0.940201  0.885453  0.019833  0.596838
1  0.674623  0.215660  0.945629  0.490034  0.260992
2  0.675776  0.562189  0.638396  0.989128  0.128418
3  0.963042  0.111552  0.865478  0.277549  0.888880
4  0.975200  0.226779  0.891291  0.332983  0.951956
5  0.193683  0.425939  0.757792  0.221420  0.438421
6  0.430204  0.110959  0.752686  0.998875  0.437304
7  0.790078  0.953469  0.511432  0.440991  0.938167
8  0.582049  0.088777  0.900555  0.410697  0.751776
9  0.407228  0.583413  0.089207  0.334433  0.064540

In [48]:
df[df["A"]>0.5]

          A         B         C         D         E
0  0.998603  0.940201  0.885453  0.019833  0.596838
1  0.674623  0.215660  0.945629  0.490034  0.260992
2  0.675776  0.562189  0.638396  0.989128  0.128418
3  0.963042  0.111552  0.865478  0.277549  0.888880
4  0.975200  0.226779  0.891291  0.332983  0.951956
7  0.790078  0.953469  0.511432  0.440991  0.938167
8  0.582049  0.088777  0.900555  0.410697  0.751776

In [52]:
df[(df["A"]>0.5) & (df['D']<0.7)]

          A         B         C         D         E
0  0.998603  0.940201  0.885453  0.019833  0.596838
1  0.674623  0.215660  0.945629  0.490034  0.260992
3  0.963042  0.111552  0.865478  0.277549  0.888880
4  0.975200  0.226779  0.891291  0.332983  0.951956
7  0.790078  0.953469  0.511432  0.440991  0.938167
8  0.582049  0.088777  0.900555  0.410697  0.751776

In [53]:
# 分组 groupby
#df = pd.DataFrame({'A':np.array(['foo','foo','foo','foo','bar','bar']),
      'B':np.array(['one','one','two','two','three','three']),
     'C':np.array(['small','medium','large','large','small','small']),
     'D':np.array([1,2,2,3,3,5])})
df

     A      B       C  D
0  foo    one   small  1
1  foo    one  medium  2
2  foo    two   large  2
3  foo    two   large  3
4  bar  three   small  3
5  bar  three   small  5

In [56]:
df.groupby("A").count()

     B  C  D
A
bar  2  2  2
foo  4  4  4

In [57]:
df.mean()

D    2.666667
dtype: float64

In [58]:
df = pd.DataFrame(np.random.rand(2,3),columns=list('ABC'))
df

          A         B         C
0  0.158141  0.786692  0.255840
1  0.674719  0.327918  0.625999

In [59]:
df.mean()

A    0.416430
B    0.557305
C    0.440920
dtype: float64

In [60]:
df.apply(np.max,axis=1)

0    0.786692
1    0.674719
dtype: float64

In [62]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],           
                     'B': ['B0', 'B1', 'B2', 'B3'],
                     'key': ['K0', 'K1', 'K0', 'K1']})
   

df2 = pd.DataFrame({'C': ['C0', 'C1'],
                      'D': ['D0', 'D1']},
                     index=['K0', 'K1'])
   

df1

    A   B key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K0
3  A3  B3  K1

In [63]:
df2

     C   D
K0  C0  D0
K1  C1  D1

In [64]:
df1.join(df2, on='key')

    A   B key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K0  C0  D0
3  A3  B3  K1  C1  D1